h1 {
    color: blueviolet;
    background: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clasemedia {
    color: brown;
    background-color: yellow;
}

.clasealta {
    color: black;
    background-color: antiquewhite;
}