.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

p:before {
    content: attr(type);
    /*llamar al atributo type*/
    display: block;
    /*Aparece texto encima de los labels*/
}

.form {
    display: grid;
    grid-template-rows: 25px 50px 50px;
    /* Hacemos las filas más pequeñas */
    grid-template-columns: 250px 250px 250px;
    /* Hacemos las columnas más anchas */
    grid-gap: 10px;
    /* Manteniendo el espacio entre filas y columnas constante */


}

h2 {
    grid-column: span 3;
}

.col-2 {
    grid-column: span 2;

}

#idinputnombre {
    width: 495px;
}

#idinputfechaactual {
    width: 235px;
    height: 25px;
}

#idinputfechaatencion {
    width: 235px;
    height: 25px;
}

input {
    height: 25px;
    width: 235px;
}